// COLORS
$color__blue:        #207af9;
$color__gray:        #6c757d;
$color__gray--light: #c0c0c0;
$color__white:       #fff;

// BORDERS
$border__shape: 1px solid;
$border__radius: 3px;
$border__default: $border__shape $color__gray--light;
